@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
$font-family: "Open Sans", sans-serif;
$main-color: #004679;
$main-color-light: #eef2f6;
$second-color: #e7eff5;
$body-color: #fafbfc;
$white-color: #fff;
$green: #025400;
$green-light: #e5ffe4;
$red: #700000;
$red-light: #ffe4e4;
